.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #153147;
    color: aliceblue;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.HeaderItem {
    padding: 1rem;
}

.Item.Active {
    background-color: #58aae9;
}


.Item:hover {
    background-color: #3b729c;
}

.HeaderTitle {
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.HeaderRight {
    margin-top: auto;
    margin-bottom: auto;
}

.HeaderRight select {
    font-size: 1rem;
    border-radius: .2rem;
    background-color: #3b729c;
    border-color: #245275;
    color: aliceblue;
    padding: .2rem;
}

.HeaderLeft {
    background-color: #245275;    
    border-bottom-left-radius: 1rem;
    display: flex;
}

.HeaderDifficulty {
    display: flex;
    background-color: #002b41;
    border-bottom-right-radius: 1rem;
}

.HeaderMenu {
    display: flex;
    margin-right: auto;
}

.HeaderMenu.Item {
    margin-right: 1em;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
}